/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

body{
  background-color: grey;
  color: hsl(var(--hue), 8%, 35%);
  position: relative;
}

.modal button{
  cursor: pointer;
  border: none;
  outline: none;
}

.modal img{
  max-width: 100%;
  height: auto;
}

/*=============== MODAL ===============*/
.contain{
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal{
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal__button{
  display: inline-block;
  background-color: dodgerblue;
  color: #FFF;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.modal__button:hover{
  background-color: blue;
}

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  min-height: 90vh;
  width: 100vw;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content{
  position: relative;
  background-color: #FFF;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}

.modal__img{
  width: 150px;
  margin-bottom: .75rem;
  animation: zoomInOut 5s linear infinite; 
}

@keyframes zoomInOut{
	0%100%{
	transform: scale(1);
	}
	50%{
	transform: scale(1.13);
	}
}

.modal__close{
  display: inline-flex;
  background-color: yellow;
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title{
  font-size: 1.3rem;
  color: black;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.modal__description{
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: rgba(0, 0, 1, 0.8);
}
.seed{
display: ruby-text;
background: rgba(0, 0, 1, 0.1);
padding: 1rem;
margin-bottom: 1.5rem;
}
.seed li{
list-style-type: none;
text-decoration: underline;
font-weight: bold;
margin-left: 0.5rem;
line-height: 2rem;
}
.input{
margin: 1rem;
height: 5vh;
}
input::placeholder{
padding: 1rem;
}
form input{
border-top: none;
border-left: none;
border-right: none;
outline: none;
font-size: 1.15rem;
}
.modal__button-width{
  width: 90%;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: red;
  font-weight: 500;
}

/* Show modal */
.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  /*=== Effect 1 ===*/
  transform: translateY(0);

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}
